header {
    text-align: center;
    background-color: aquamarine;
    padding: 10px;
}

header h1 {
    text-transform: uppercase;
}

.wallet,
.label,
.search-bar,
.input-bar {
    margin: 8px;
}

.wallet-container {
    display: flex;
    align-items: center;
}

.label {
    text-transform: uppercase;
    color: red;
    background-color: rgb(180, 180, 180);
}