<header>
    <h1>Pokemon Shop</h1>
</header>
<section>
    <div class="wallet-container">
        <p class="wallet">Your wallet: {{walletService.wallet$ | async}} </p>
        <label class="label" [innerHTML]="warning"></label>
    </div>
    <input class="input-bar" type="text" placeholder="Add money to wallet" [(ngModel)]="inputMoney">
    <button type="button" class="btn btn-primary" (click)="addMoneyToWallet()">Add money</button>
    <br>
    <input class="search-bar" type="text" placeholder="Filter by Pokemon">
</section>