<h4>Pokemon Shop:</h4>
<div id="notFound" [innerHTML]="notFound"></div>
<div class="pokemon-card-container">
    <div class="pokemon-card" *ngFor="let pokemon of pokemonService.filteredPokemonData$ | async">
        <div class="pokemon-name">{{pokemon.name}}</div>
        <img [src]=pokemon.pictureUrl>
        <p class="pokemon-price">Price: {{pokemon.price}}</p>
        <button class="btn btn-primary" (click)="buyPokemon(pokemon)">BUY</button>
    </div>
</div>

<h4 *ngIf="pokemonInPocket.length > 0">Your Pocket:</h4>
<div class="pokemon-card-container">
    <div class="pokemon-card" *ngFor="let pokemon of pokemonInPocket">
        <div class="pokemon-name">{{pokemon.name}}</div>
        <img [src]=pokemon.pictureUrl>
        <p class="pokemon-price">Price: {{pokemon.price}}</p>
    </div>
</div>